/*h1 {
    color: #a200ff;
    font-size: 3rem;
    width: 50%;
    background-color: aqua;
    border: 9px dotted gray;
    /*border-width:9px;
    border-style: dotted;
    border-color: gray;}*/

h1 {
    color: blue
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: right;
    border: 3px solid blue;
    width: 50%;
}

p {
    background-color: black;
    color: #ffffff;
}

span {
    font-size: 40px;
    font-family: "comic sans MS";
    color: yellow;
    text-decoration: underline;
    text-transform: uppercase;
}

ul {
    font-size: 50px;
    list-style: none;
}

ol {
    font-size: 50x;
    list-style: lower-roman;
    margin-left: 40px;
}

.conteudo {
    margin-left: 2rem;
}

#titulo-principal {
    margin-left: 7rem;
}


/*explicando cascade e especificidade*/

.titulo.titulo-pagina {
    color: purple;
}


/*esta classe é mais especifica do que as posteriores*/

.titulo-pagina {
    font-size: 5rem;
    color: red;
    border: 5px solid red;
}

.titulo {
    font-size: 3rem;
    color: green;
    border-style: dashed;
}


/*1 - 0 - 0 */

#titulo-principal {
    color: aquamarine;
}


/*esta propriedade terá prioridade sobre a anterior*/


/*Regra de especificidade
0 - 2 - 0 
0 - titulo.titulo-pagina - 

0 - 1 - 0
0 - .pagina - 0
0 - .titulo-pagina - 0

0 - 0 - 1
0 - 0 - h1

se empatar vence quem está mais abaixo!
*/