/*h1 {
    color: #a200ff;
    font-size: 3rem;
    width: 50%;
    background-color: aqua;
    border: 9px dotted gray;
    /*border-width:9px;
    border-style: dotted;
    border-color: gray;}*/

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    border: 3px solid blue;
    width: 50%;
}

p {
    background-color: black;
    color: #ffffff;
}

span {
    font-size: 40px;
    font-family: "comic sans MS";
    color: yellow;
    text-decoration: underline;
    text-transform: uppercase;
}

ul {
    font-size: 50px;
    list-style: none;
}

ol {
    font-size: 50x;
    list-style: lower-roman;
    margin-left: 40px;
}

.conteudo {
    margin-left: 2rem;
}

#titulo-principal {
    margin-left: 7rem;
}


/*explicando cascade e especificidade*/

.titulo-pagina {
    font-size: 5rem;
    color: red;
    border: 5px solid red;
}

.titulo {
    font-size: 3rem;
    color: green;
    border-style: dashed;
}


/*esta propriedade terá prioridade sobre a anterior*/