   .box{
       box-sizing:border-box;
   } 
    
    
    /*h1 {
    color: #a200ff;
    font-size: 3rem;
    width: 50%;
    background-color: aqua;
    border: 9px dotted gray;
    /*border-width:9px;
    border-style: dotted;
    border-color: gray;}*/
    body{
        margin:0;
    }
    
    /*h2 {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        text-align: right;
        border: 3px solid blue;
        width: 50%;
    }*/
    
    /*p {
        background-color: black;
        color: #ffffff;
    }*/
    
    span {
        font-size: 40px;
        font-family: "comic sans MS";
        color: yellow;
        text-decoration: underline;
        text-transform: uppercase;
    }
    
    ul {
        font-size: 50px;
        list-style: none;
    }
    
    ol {
        font-size: 50x;
        list-style: lower-roman;
        margin-left: 40px;
    }
    
    .conteudo {
        margin-left: 2rem;
    }
    
    #titulo-principal {
        margin-left: 7rem;
    }
    /*explicando cascade e especificidade*/
    
    .titulo.titulo-pagina {
        color: purple;
    }
    /*esta classe é mais especifica do que as posteriores*/
    
    .titulo-pagina {
        font-size: 5rem;
        color: red;
        border: 5px solid red;
    }
    
    .titulo {
        font-size: 3rem;
        color: green;
        border-style: dashed;
    }
    /*1 - 0 - 0 */
    
    #titulo-principal {
        color: aquamarine;
    }
    /*esta propriedade terá prioridade sobre a anterior*/
    /*Regra de especificidade
0 - 2 - 0 
0 - titulo.titulo-pagina - 

0 - 1 - 0
0 - .pagina - 0
0 - .titulo-pagina - 0

0 - 0 - 1
0 - 0 - h1

se empatar vence quem está mais abaixo!
*/
    
    h1 {
        color: blue;
    }
    
    .titulo-generico {
        font-size: 40px;
        color: red;
    }
    /* E F seletor descendente

.container-exemplo .primeiro-nivel .titulo-generico {
    font-size: 80px;
    color: black;
}
*/
    /*seletordescendente imediato combinado (E > F)*/
    
    .container-exemplo>.primeiro-nivel .titulo-generico {
        font-size: 80px;
        color: black;
    }
    /*com :são os pseudo-seletores*/
    
    .meu-link {
        font-size: 50px;
        text-decoration: none;
    }
    
    .meu-link2:hover {
        text-decoration: underline;
        background-color: black;
    }
    
    .meu-link3:link {
        color: green;
    }
    
    .meu-link3:visited {
        color: red;
    }
    /* pseudo classe active fica ativa ao clicar
.meu-link:active {
    font-size: 60px;
    color: red;
}
*/
    
    .meu-link:focus {
        font-size: 90px;
        color: black;
    }
    /*atributo tipo number*/
    
    .meu-input[type="number"] {
        background-color: red;
        font-size: 70px;
    }
    
    .meu-input:focus {
        background-color: white;
        color: black;
    }
    
    .nav-menu {
        border: 2px solid blue;
    }
    
    .menu-item {
        border: 2px dashed purple;
        background-color: grey;
        margin-bottom: 20px;
        display: inline-block;
        min-width: 200px;
    }
    
    .menu-item:last-child {
        margin-bottom: 0px;
    }
    
    .menu-item:first-child {
        color: red;
    }
    
    .menu-item:nth-child(3) {
        background-color: green;
    }
    
    .menu-item:nth-child(n+3) {
        border: 5px solid red;
    }
    /*seletores de atributo*/
    
    .bloco-inicial {
        font-size: 50px;
        background-color: yellow;
        display: inline;
        /*espaço que o conteudo exige*/
        margin-bottom: 20px;
        /*ocupam todo o espaço disponivel. podemos usar as propriedades : Width, height, */
        width: 500px;
    }
    
    .bloco-inicial-abaixo {
        font-size: 50px;
        background-color: red;
    }
    
    .span-inicial {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 40px;
        color: red;
        text-decoration: underline;
        text-transform: uppercase;
        display: inline;
        /*por padrão inline ignora wudth e height. Só aceita propriedades na horizontal e não na vertical*/
    }
    
    .bloco-escondido {
        /*display: none;*/
    }

    .box{
        background-color: blue;
        color: white;
        width: 100px;
        /*height: 100px;*/
        display:block;
        /*padding-top:10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;*/
        /*padding 10px 10px 10px 10px;*/
        padding: 10px; 
        margin: 10px;
        border-top: 10px solid green; 
        border-bottom: 10px dashed black;
    }
    .wrapper{
        /*este elemento é por padrão display-blok*/
        display: block;
        background-color: #768076;
        font-size: 1.5rem;
        width: 40rem;
        margin: 0px auto;

    }
    .wrapper p{
        margin-top: 0;
        margin-left: 20px;
    }
    .wrapper .imagem-principal{
        float: left;
        border: 6px solid magenta;
        /*padding: 10px;aparecerá dentro da moldura da borda*/
        /*margin-right: 10px;
        margin-bottom: 5px;*/
        margin: 10px 20px 10px 10px;
    }
    .wrapper .paragrafo-clear{
       /*clear:both;*/
    }
    .wrapper .imagem-direita{
        float:right;
        border: 6px solid magenta;
        margin: 10px 20px 10px 10px;
    }
    .wrapper::after{
        content:'';/*vazio*/
        display: table;/* ou block*/
        clear:both;/*limpa*/
    }

    .wrapper-2{
        background-color: yellow;
        font-size: 1.5rem;
        width: 50rem;
        margin: 20px auto;

    }
    .box-1{
        height: 200px;
        width: 33%;
    }
    .red{
        background-color: red;
        float: right;
    }
    .blue{background-color: blue;
        float: right;
        /*margin-left: 30px;*/
    }
    .green{
        background-color: green;
        float: right;
    }
    .wrapper-3{
        background-color: rgb(199, 199, 16) ;
        font-size: 1.5rem;
        width: 56rem;
        margin: 20px auto;
    }
    .wrapper-3::after{
        content:'';/*vazio*/
        display: table;/* ou block*/
        clear:both;/*limpa*/
    }
    .servico{
        width: 30%;
        border: 1px solid blue;      
        float:left;
        min-height: 200px;
        margin: 0 1%;
        
    }
.wrapper-4 {
    border: 2px solid blue;
    padding: 40px;
    margin-top: 40px;
    position: relative;
}
.filho {
    position: fixed;
    background-color: red;
    padding: 20px;
    top: 50px;
    left: 20px;
}
@media(max-width:1200px){
    body{
        background-color: red;
    }
}
@media(max-width:1024px){
    body{
        background-color: green;
    }
}

@media(max-width:760px){
    body{
        background-color: blue;
    }
    .resizable-image{
        display: none;
    }
    .servico{
        width: 100%;
    }
}

@media(max-width:480px){
    body{
        background-color: yellow;
    }
}